.dsg-table {
    width: 100%;
    border-collapse: collapse;
}

.dsg-table thead {

}

.dsg-table tbody {
    border-top: 1px solid #cecece;
    text-align: center;
    font-size: 10pt;
}

.dsg-table thead > tr {

}

.dsg-table thead > tr > th {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.dsg-table tbody > tr {
    line-height: 20px;
    font-weight: 300;
    font-size: 12px;
}

.dsg-table tbody > tr > td {

}

.dsg-table tbody > tr > td.dsg-ie-cell:hover {
    box-shadow: inset 0px 0px 2px gray;
}

.dsg-table tbody > tr:nth-child(even) {
    background: #edf4f8;
}

.dsg-table tbody > tr:nth-child(odd) {
    /*background: #FFF;*/
}

.dsg-filter-wrapper {
    text-align:center;
}

.dsg-filter {
    outline: none;
    margin: 0 0 7px 0;
    font-size: 10px;
}

.dsg-filter.integer {
    width: 5em;
}

.dsg-filter.string {
    width: 100px;
}

.dsg-pagination {
    border-top: 1px solid #cecece;
    padding-top: 17px;
}

.dsg-pagination .links button {
    cursor: pointer;
}

.dsg-pagination .links button.current {
    padding: 3px 8px 3px;
}

.hidden {
    display: none;
}

.dsg-ie-input {
    box-sizing: border-box;
    outline: none;
    padding: 0;
}
