.dsg-table {
    width: 100%;
    border-collapse: collapse;
}

.dsg-table thead {

}

.dsg-table tbody {
    border-top: 1px solid #cecece;
    text-align: center;
    font-size: 10pt;
}

.dsg-table thead > tr {

}

.dsg-table thead > tr > th {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

.dsg-table tbody > tr {
    line-height: 20px;
    font-weight: 300;
    font-size: 12px;
}

.dsg-table tbody > tr > td {

}

.dsg-table tbody > tr > td.dsg-ie-cell:hover {
    box-shadow: inset 0px 0px 2px gray;
}

.dsg-table tbody > tr:nth-child(even) {
    background: #edf4f8;
}

.dsg-table tbody > tr:nth-child(odd) {
    /*background: #FFF;*/
}

.dsg-filter-wrapper {
    text-align:center;
}

.dsg-filter {
    outline: none;
    margin: 0 0 7px 0;
    font-size: 10px;
}

.dsg-filter.integer {
    width: 5em;
}

.dsg-filter.string {
    width: 100px;
}

.dsg-pagination {
    border-top: 1px solid #cecece;
    padding-top: 17px;
}

.dsg-pagination .links button {
    cursor: pointer;
}

.dsg-pagination .links button.current {
    padding: 3px 8px 3px;
}

.hidden {
    display: none;
}

.dsg-ie-input {
    box-sizing: border-box;
    outline: none;
    padding: 0;
}

a.dsg-btn:link,
a.dsg-btn:visited,
a.dsg-btn:active,
a.dsg-btn {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    color: #5a5a5a;
    font-size: 80%;
    padding: 0px 4px;
    outline: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

a.dsg-btn:hover {
    color: #202020;
    border: 1px solid #797979;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100;Grey+Gloss+%231 */
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}
